<h1><%= @store.store_name %></h1>

<p> Location: <%= @store.location.location_details %> </p>

<h2>Items</h1>

<%= render :partial => 'shared/store_items_index', store_items: @store_items %>

<p> <%= link_to "Add Item", new_store_item_path(store_id: @store.id) %> </p>
