<h1>Store Items</h1>
<div>
  <% if @store_items.exists? %>
    <%= render :partial => "shared/store_items_index",
               locals: { store_items: @store_items } %>
  <% else %>
    <p>There is no existing store item</p>
  <% end %>
<div>

<br/>

<div>
  <% if current_user.admin? %>
    <p> <%= link_to "Add Store Item", new_store_item_path %> </p>
  <% end %>
</div>